jsoncodelogicapp
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Convert_file": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file_2')?['Id']))}/convert",
                            "queries": {
                                "type": "PDF"
                            }
                        },
                        "runAfter": {
                            "Create_file_2": [
                                "Succeeded"
                            ]
                        },
                        "trackedProperties": {
                            "convert_output": "body('ConvertFile')"
                        },
                        "type": "ApiConnection"
                    },
                    "Create_blob": {
                        "inputs": {
                            "body": "@body('Convert_file')",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "@{concat('/<Storage_folder_name>/',replace(body('Get_blob_content'),'Input','Output'))}",
                                "name": "@base64ToString(outputs('Convert_file')['headers']['x-ms-file-name'])",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {
                            "Convert_file": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    },
                    "Create_file_2": {
                        "inputs": {
                            "body": "@body('Get_blob_content_2')",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "/<One drive folder name>",
                                "name": "@items('For_each')?['Name']"
                            }
                        },
                        "runAfter": {
                            "Get_blob_content_2": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    },
                    "Delete_file": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                }
                            },
                            "method": "delete",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file_2')?['Id']))}"
                        },
                        "runAfter": {
                            "Create_blob": [
                                "Succeeded",
                                "TimedOut",
                                "Skipped",
                                "Failed"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Get_blob_content_2": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Id']))}/content",
                            "queries": {
                                "inferContentType": true
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('List_blobs')?['value']",
                "runAfter": {
                    "List_blobs": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_blob_content": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Id']))}/content",
                    "queries": {
                        "inferContentType": true
                    }
                },
                "runAfter": {},
                "trackedProperties": {
                    "ProcessingFolder": "@{encodeURIComponent(encodeURIComponent(body('Get_blob_content')))}"
                },
                "type": "ApiConnection"
            },
            "List_blobs": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(concat('/<Storage_folder_name>/',body('Get_blob_content'))))}",
                    "queries": {
                        "nextPageMarker": "",
                        "useFlatListing": false
                    }
                },
                "runAfter": {
                    "Get_blob_content": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)": {
                "evaluatedRecurrence": {
                    "frequency": "Second",
                    "interval": 10
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/batch/onupdatedfile",
                    "queries": {
                        "folderId": "JTJmcGdlbnNpdHNhYw==",
                        "maxFileCount": 10
                    }
                },
                "metadata": {
                    "JTJmcGdlbmRldnNhYw==": "/<Storage_folder_name>/",
                    "JTJmcGdlbmRldnNhYyUyZkRTTSUyZg==": "/<Storage_folder_name>/<Sub_folder_name>/",
                    "JTJmcGdlbnNpdHNhYw==": "/<Storage_folder_name>/"
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 10
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob_1": {
                    "connectionId": "/subscriptions/<Subscription IDs>/resourceGroups/<Resource_grp_name>/providers/Microsoft.Web/connections/azureblob-8",
                    "connectionName": "azureblob-8",
                    "id": "/subscriptions/<Subscription IDs>/providers/Microsoft.Web/locations/<Region_name>/managedApis/azureblob"
                },
                "onedriveforbusiness": {
                    "connectionId": "/subscriptions/<Subscription IDs>/resourceGroups/<Resource_grp_name>/providers/Microsoft.Web/connections/onedriveforbusiness",
                    "connectionName": "onedriveforbusiness",
                    "id": "/subscriptions/<Subscription IDs>/providers/Microsoft.Web/locations/<Region_name>/managedApis/onedriveforbusiness"
                }
            }
        }
    }
}
